<!-- AUI Framework -->
<!DOCTYPE html>
    <html>
   <%-include ('../partials/header')%>
    <body style="overflow: hidden;">
        

       

        <div id="page-wrapper" class="demo-example">

           

            <!-- #page-header -->

            <%-include ('../partials/side_bar')%>
            <!-- #page-sidebar -->
            <div id="page-content-wrapper">
                <div id="page-title">


    <div class="bg-gray text-transform-upr font-size-15 font-bold primary-font pad10A" >Edit Coupan</div>

    

                </div>
                   <!-- #page-title -->
<div id="page-content">


<%-include ('../partials/flashMessage')%>
<% 
if(data==undefined || data==null || data=='{}' || data.length==0) {%>

    <%-include ('../partials/norecord')%>


<%}else {%>

    <div class="large-box">
        <div class="pad10A">
            

                <!-- <form id="demo-form" action=""  method="" /> -->




                <form  role="form" onsubmit="return false"  class="col-md-12"  id="adduser" >
                    <input type="hidden"  name="coupanId" id="coupanId"  value="<%-data.id%>" />

                <div class="form-row">
                        <div class="form-label col-md-4">
                            <label for="">
                                 Name:
                                <span class="required">*</span>
                            </label>
                        </div>
                        <div class="form-input col-md-8">
                            <input type="text" id="name"  value="<%-data.name%>"  data-rangelength="[2,100]" name="name"  data-trigger="change" data-required="true" class="parsley-validated" />
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-label col-md-4">
                            <label for="">
                                 Code:
                                <span class="required">*</span>
                            </label>
                        </div>
                        <div class="form-input col-md-8">
                            <input type="text" id="code"  value="<%-data.code%>"  data-rangelength="[2,100]" name="code"  data-trigger="change" data-required="true" class="parsley-validated" />
                        </div>
                    </div>


                    
                    <div class="form-row">
                        <div class="form-label col-md-4">
                            <label for="">
                                 Discount (%):
                                <span class="required">*</span>
                            </label>
                        </div>
                        <div class="form-input col-md-8">
                            <input  id="code"  data-type="number"  value="<%-data.discount%>"  data-rangelength="[1,3]" name="discount"  data-trigger="change" data-required="true" class="parsley-validated" />
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-label col-md-4">
                            <label for="">
                                Choose Category :
                                <span class="required">*</span>
                            </label>
                        </div>
                        <div class="form-input col-md-8">
                            <select   data-placeholder="Choose Category"  class="chosen-select" name="categoryId" id="categoryId">
                                <option value="" > All Categories</option>
                                <%for(var t=0;t<catData.length;t++){%>
                                <option   <%if(catData[t].id==data.categoryId){%> selected <%}%>  value="<%-catData[t].id%>" /><%-catData[t].name%> 
                               
                        <%}%>
                       </select>                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-label col-md-4">
                            <label for="">
                                Type:  <span class="required">*</span>
                            
                            </label>
                        </div>
                        <div class="form-input col-md-8">
                            <select data-placeholder="Choose Type"  value="<%-data.type%>" class="chosen-select"  data-required="true" id="type" name="type">
                                <option value="0" >All </option> 
                               <%for(var p=0;p<types.length;p++){%>
                                   
                                    <option <%if(data.type==types[p].id){%> selected <%}%>   value="<%-types[p].id%>" ><%-types[p].userType%></option> 
  
                                   
                                   <%}%>
                
                       </select>                        </div>
                    </div>



                    <div class="form-row">
                        <div class="form-label col-md-4">
                            <label for="">
                                Usage Limit :
                                <span class="required">*</span>
                            </label>
                        </div>
                        <div class="form-input col-md-8">
                            <input  id="usageLimit"  data-type="number"   value="<%-data.usageLimit%>" data-rangelength="[1,3]" name="usageLimit"  data-trigger="change" data-required="true" class="parsley-validated" />
                        </div>
                    </div>



                    <div class="form-row">
                        <div class="form-label col-md-4">
                            <label for="">
                                Minimum Order Amount :
                                <span class="required">*</span>
                            </label>
                        </div>
                        <div class="form-input col-md-8">
                            <input  id="minimumAmount"  data-type="number"  value="<%-data.minimumAmount%>"  data-rangelength="[1,6]" name="minimumAmount"  data-trigger="change" data-required="true" class="parsley-validated" />
                        </div>
                    </div>



                    <div class="form-row">
                        <div class="form-label col-md-4">
                            <label for="">
                                Icon:
                                <span class="required">*</span>
                            </label>
                        </div>
                        <div class="form-input col-md-4">
                            <input type="file" id="icon"   name="icon"  />
                        </div>         
                        <div class="form-group col-md-4" <% if (data.icon==null || data.icon =="") {%> style="display :none"  <%}%>  > 
                            <label>Uploaded Icon </label>
                            <div class="fm-admin-file">
                                    <img id="myIcon" src="<%=data.icon%>" alt="Icon" style="width:50%;max-width:100px">

                            </div>
                        </div>
                                
                    </div>

                    <div class="form-row">
                        <div class="form-label col-md-4">
                            <label for="">
                                Thumbnail:
                            </label>
                        </div>
                        <div class="form-input col-md-4">
                            <input type="file"  id="thumbnail" name="thumbnail"  />
                        </div>

                        <div class="form-group col-md-4" <% if (data.thumbnail==null ||  data.thumbnail =="") {%> style="display :none"  <%}%>  > 
                            <label>Uploaded Thumbnail </label>
                            <div class="fm-admin-file">
                                    <img id="myThumbnail" src="<%=data.thumbnail%>" alt="Icon" style="width:50%;max-width:100px">

                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-label col-md-4">
                            <label for="">
                                Valid Upto:
                                <span class="required">*</span>
                            </label>
                        </div>
                        <div class="form-input col-md-8">
                           
                            <input type="text" class="datepicker" value="<%-data.validupto%>"  data-required="true"  id="validupto" name="validupto" />
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-label col-md-4">
                            <label for="" class="label-description">
                                Description:
                                <span>10 chars min, 1000 max</span>
                            </label>
                        </div>
                        <div class="form-input col-md-8">
                            <textarea id="description" name="description" data-trigger="keyup" data-rangelength="[10,1000]" class="parsley-validated"><%-data.description%></textarea>
                        </div>
                    </div>


                    <div class="divider"></div>
                    <div class="form-row">
                        <input type="hidden" name="superhidden" id="superhidden" />
                        <div class="form-input col-md-8 col-md-offset-6">
                            <!-- //onclick="javascript:$(&apos;#demo-form&apos;).parsley( &apos;validate&apos; );" -->
                            <!-- onclick="javascript:$('#adduser').parsley('validate' );"  -->
                            <button  type="button" onclick="window.history.back();"   class="btn ui-state-default medium bg-red mrg15R">
                                <span class="button-content">Cancel</span>
                            </button>
                            <button  type="submit" class="btn ui-state-default medium  primary-bg">
                                <span class="button-content">Submit</span>
                            </button>
                            </div>
                    </div>

                </form>

        </div>

       
    </div>

<%}%>

                	</div><!-- #page-content -->
            </div><!-- #page-main -->
        </div><!-- #page-wrapper -->

    </body>
</html>


<script type="text/javascript">


    
      $('#adduser').submit( function() {
       
       
            var tempform = $('#adduser');
           
            tempform .parsley('validate' );

            if(tempform.parsley('isValid' ))
            {
                var ext = $('#icon').val().split('.').pop().toLowerCase();
                if(ext==null || ext=="") ext=$('#myIcon').attr('src').split('.').pop().toLowerCase();
                var ext1 = $('#thumbnail').val().split('.').pop().toLowerCase();
                if(ext1==null || ext1=="") ext1=$('#myThumbnail').attr('src').split('.').pop().toLowerCase();


                if($.inArray(ext, ['gif','png','jpg','jpeg']) == -1 ) {
                    showToastError('Please select only jpg and png files for icon!')
                return false;
            }


            var form_data = new FormData(tempform[0]);
            $(".overlay").show();
            var id=$('#coupanId').val()

            $.ajax({
                type: 'POST',
                url: '<%-superadminpath%>coupans/update',
                dataType: 'json',
                data: form_data,
                contentType:false,
                cache:false,
                processData:false,
                success: function (response) {
                    $(".overlay").hide();
                    if (response.code == 200) {
                  
                        showToastSuccess(response.message)

window.location.reload()                       
                    } else {
                        showToastError(response.message)
                    }
                },

                error: function(response)
                {
                   var errorResponse=JSON.parse(response.responseText)
                   showToastError(errorResponse.message)


                }
            });
        }
      });
    
  
    </script>

